*{
   margin : 0;
   padding : 0;
}

body{
    background: url('potatoes.jpg') top left no-repeat;
    background-size : cover;
    background-position-y: top;
    height : 100vh;
    position : absolute;
}
/*form styling*/
.image {
    background : white;
    display : block;
    margin-top : 250px;
    margin-left : 630px;
    padding : 20px;
    border-radius : 8px;   
}
form {
    z-index : 1;
    position : relative;
}

.box1 {
    display : flex;
    flex-direction: row;
}
.box1 input {
    width : 227px;
    height : 38px;
    font-size : 16px;
    padding-left : 5px;
    outline: none;
    border-radius : 5px;
    border : solid grey 1px;
}
.box1>p{
    
    padding-right : 8px;
    font-size : 19px;
}
.or {
    text-align : center;
    padding-top : 15px;
}
          /*buttons*/



.login  {
    width : 90px;
    margin-left :110px;
    height : 25px;
}
.social {
    text-align:center;
    padding-top : 15px;

}
.social>button {
    width : 89px;
    height : 32px;
    cursor : pointer;
}
.social>.social1 {
 background-color : #1877F2;
 border : solid grey 1px;
 border-radius : 5px;
 outline : none;
}
.social>.social2 {
    background-color: #00cc00;
    border : solid grey 1px;
    border-radius : 5px;
    outline : none;
   }
/*for opacity color*/

